<!-- Showcase -->
<section class="bg-light text-dark">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="shadow-sm p-3">
          <div class="h2 mb-4">
            <span class="text-warning">배움</span>과 가장 가까워지는 곳
          </div>
          <p>
            가격의 문턱을 낮춰 양질의 강의를 합리적인 가격에 부담없이 접할 수 있는 포럼입니다
          </p>
        </div>
      </div>
      <div class="col-md-6 mt-md-0 mt-5">
        <img class="img-fluid" src="assets/images/views/hero.svg">
      </div>
    </div>
  </div>
</section>
